<% provide(:title, 'New Trader') %>
	<h1 class="margin-tb">New trader</h1>

<%= render 'form' %>

<%= link_to_function 'Back', "history.back(-2)", class: "btn btn-default", role: "button" %>
<%= link_to 'Home', root_path, class: "btn btn-primary", role: "button" %>
