<h1>Editing trade</h1>

<%= render 'form' %>

<%= link_to 'Show', @trade, class: "btn btn-default", role: "button" %>
<%= link_to_function 'Back', "history.back()", class: "btn btn-default", role: "button" %>
<%= link_to 'Home', root_path, class: "btn btn-primary", role: "button" %>